[package]
name = "test_utils"
version = "0.1.0"
edition = "2021"
license = "Apache-2.0"
authors = ["Mysten Labs <build@mystenlabs.com>"]
publish = false

[dependencies]
arc-swap = { version = "1.5.0", features = ["serde"] }
base64 = "0.13.0"
bincode = "1.3.3"
blake2 = "0.9"
bytes = "1.1.0"
derive_builder = "0.11.2"
ed25519-dalek = "1.0.1"
futures = "0.3.21"
rand = "0.7.3"
serde = { version = "1.0.139", features = ["derive"] }
tempfile = "3.3.0"
thiserror = "1.0.31"
tokio = { version = "1.20.0", features = ["sync", "rt", "macros"] }
tokio-util = { version = "0.7.3", features = ["codec"] }
tonic = "0.7.2"
multiaddr = "0.14.0"
tracing = "0.1.35"
prometheus = "0.13.1"

config = { path = "../config" }
crypto = { path = "../crypto", features = ["copy_key"] }
types = { path = "../types" }
worker = { path = "../worker"}
node = { path = "../node"}
executor = { path = "../executor"}

store = { git = "https://github.com/mystenlabs/mysten-infra.git", package = "typed-store", rev = "7e9b7568fc7184b4938976330122f3c8064e3236" }
mysten-network = { git = "https://github.com/mystenlabs/mysten-infra.git", rev = "c6dc7a23a40b3517f138d122a76d3bc15f844f67" }
workspace-hack = { version = "0.1", path = "../workspace-hack" }
